/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* css reset */
html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
select,
option,
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* modal, game-mode, and introdcution*/
.hidden {
  display: none;
}

.modal-screen, #introduction, #game-mode {
  z-index: 998;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

#introduction-content, #game-mode-content {
  z-index: 999;
  position: fixed;
  width: 60vw;
  /* height: 80vh; */
  top: 12.5vh;
  left: 20vw;
  padding: 50px;
  background: white;
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #3E3E3E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#game-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#game-instruction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 25px 0px;
}

#inline-bold-text {
  font-family: 'Mansalva', cursive;
  color: #F58248;
  font-size: 35px;
}

#instruction-1, #instruction-2, #instruction-3 {
  height: 100%;
  font-family: 'Mansalva', cursive;
  color: #3E3E3E;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

#instruction-1 {
  width: 20%;
}

#instruction-2, #instruction-3 {
  width: 30%;
}

#instruction-1 > p, #instruction-2 > p, #instruction-3 > p {
  margin-bottom: 15px;
}

#instruction-1 > img, #instruction-2 > img, #instruction-3 > img {
  width: 80%;
}

.start-button-container {
  width: 100%;
}

#start-button {
  width: 100%;
  height: 54px;
  background: #4BAEA0;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#start-button:hover {
  background: #3A8E82;
}

/* Game-mode */
#game-mode-content {
  position: fixed;
  width: 60vw;
  top: 30vh;
  left: 20vw;
}

#game-mode-message {
  font-family: 'Mansalva', cursive;
  color: #F58248;
  font-size: 36px;
  margin-bottom: 25px;
}

.game-mode.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#competitive-mode-button, #easy-mode-button {
  width: 200px;
  height: 54px;
  font-size: 25px;
  background-color: #4BAEA0;
  color: white;
  border-radius: 4px;
  margin: 10px 0px;
  position: relative;
  text-align: center;
}

#competitive-mode-button {
  margin-right: 50px;
}

#competitive-mode-button:hover, #easy-mode-button:hover {
  background: #3A8E82;
}

/* Modal */
.modal-content {
  z-index: 999;
  position: fixed;
  background: white;
  border-radius: 10px;
  font-size: 20px;
  width: 65%;
  /* max-width: 800px; */
  /* height: 50%; */
  top: 25%;
  left: 17.5%;
  text-align: center;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.modal-message {
  width: 100%; 
  font-family: 'Mansalva', cursive;
  color: #F58248;
  font-size: 54px;
  margin-bottom: 10px;
}

.suhi-chef.container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suhi-chef.container > img {
  height: 100%;
  width: auto;
  margin-right: 30px;
}

#ranking {
  font-size: 26px;
}

#play-again-button, #save-score-button {
  width: 200px;
  height: 54px;
  font-size: 25px;
  background-color: #4BAEA0;
  color: white;
  border-radius: 4px;
  margin: 20px;
  position: relative;
}

#save-score-button {
  color: #4BAEA0;
  background-color: white;
  border: 2px solid #4BAEA0;
}

#play-again-button:hover {
  background: #3A8E82;
}

.modal-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

/* body setup */
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  background-image: url("../assets/web_background_4.png");
  overflow: scroll;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 25px 0;
}

.icon {
  margin-right: 25px;
  margin-left: 25px;
}

.medium.icon {
  height: 45px;
  width: 45px;
}

.light.icon {
  opacity: 0.5;
}

.icon > img {
  height: 100%;
  width: 100%;
}

.game-title {
  width: 100%;
  text-align: center;
  font-family: 'Mansalva', cursive;
  color: #F58248;
  font-size: 88px;
  padding-bottom: 25px;
}

.small.game-title {
  font-size: 64px;
  padding-bottom: 25px;
}

#type-instruction {
  width: 800px;
  padding: 10px 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #4BAEA0;
  margin-bottom: 25px;
  color: white;
  font-size: 24px;
}

#type-instruction > img {
  width: auto;
  height: 80px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 10%;
  width: 100%;
  margin: 25px 0;
  color: #3C3C3C;
}

.main-content{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* game */
#game-canvas, #game-canvas-competitive {
  border-radius: 10px;
  border: 15px solid #4BAEA0;
  background-image: url('../assets/background.png');
  background-size: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#game-canvas {
  height: 600px;
  width: 800px;
}

#game-canvas-competitive {
  height: 650px;
  width: 1100px;
}

#top-bar {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#easy-timer-container, #competitive-timer-container {
  height: 100%;
  width: 150px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#competitive-score, #easy-score {
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mansalva', cursive;
  color: #59A565;
  font-size: 40px;
}

#easy-customer-lost, #competitive-customer-lost{
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#easy-customer-lost > img, #competitive-customer-lost > img {
  width: 30%;
  height: auto;
}

#counter {
  width: 100%;
  height: 220px;
  background: #4BAEA0;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#competitive-counter {
  width: 100%;
  height: 300px;
  background: #4BAEA0;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

/* Menu */
#easy-menu {
  width: 363px;
  height: 161px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#competitive-menu {
  width: 690px;
  height: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#easy-menu > .menu-first-row, #easy-menu > .menu-second-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.competitive-menu-first-row, .competitive-menu-second-row, .competitive-menu-third-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.menu-item {
  width: 75px;
  height: 75px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-item:hover, .bento-item:hover, .hover, button:hover {
  top: -5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-item > img, .bento-item > img {
  width: 100%;
}

#competitive-remove-item-button, #easy-remove-item-button {
  padding: 0 10px;
  height: 54px;
  border-radius: 4px;
  background: #F58248;
  color: white;
  font-size: 24px;
  text-align: center;
  position: relative;
}

#competitive-remove-item-button:hover, #easy-remove-item-button:hover {
  background: #D16730;
}

/* Bento */
#easy-bento-container, #competitive-bento-container {
  width: 233px;
  height: 160px;
}

#bento {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background: #80523F;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.bento-4 {
  width: 160px;
  height: 160px;
  border-radius: 8px;
}

.bento-6 {
  width: 233px;
  height: 160px;
  border-radius: 8px;
}

.bento-item {
  width: 65px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* customer */
#main-interaction-container {
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#level-up {
  position: absolute;
  text-align: center;
  font-family: 'Mansalva', cursive;
  font-size: 75px;
  color: #F58248;
  z-index: 20;
}

#main-interaction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#competitive-speech-container, #easy-speech-container {
  width: 275px;
  height: 175px;
}

#competitive-customer-container, #easy-customer-container {
  width: 280px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#competitive-customer-container > img, #easy-customer-container > img{
  height: 100%;
  width: auto;
}

#competitive-speech-container, #easy-speech-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-bubble {
	position: relative;
	background: #FFFBED;
  border: 5px solid #4E5660;
  border-radius: 20px;
  width: 225px;
  height: 175px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.speech-bubble::before {
	content: '';
	position: absolute;
	right: 0;
	top: 75px;
	width: 0;
	height: 0;
	border: 30px solid transparent;
  border-left-color: #4E5660;
	border-right: 0;
	margin-top: -20px;
  margin-right: -30px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 75px;
	width: 0;
	height: 0;
	border: 30px solid transparent;
  border-left-color: #FFFBED;
	border-right: 0;
	margin-top: -20px;
  margin-right: -20px;
}

.order-container {
  position: absolute;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  background: #80523F;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.order-container.box-6 {
  width: 182.03px;
  height: 125px;
}

.order-container.box-4 {
  width: 125px;
  height: 125px;
}

.order-item {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-item > img {
  width: 100%;
  height: 100%;
}

/* Animation */
@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;

  animation-duration: 3s;
  animation-fill-mode: both;
} 

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes flash {
  from,
  40%,
  80% {
    opacity: 1;
  }

  20%,
  60%,
  to {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
  animation-duration: 2s;
  animation-fill-mode: both;
}

/* Media-query */
@media only screen and (max-width: 823px) {
  /* Introduction */
  #introduction-content {
    position: fixed;
    width: 94vw;
    /* height: 90vh; */
    top: 5vh;
    left: 3vw;
    padding: 20px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 13px;
    line-height: 18px;
  }

  .small.game-title {
    display: none;
  }

  #inline-bold-text {
    font-family: 'Mansalva', cursive;
    color: #F58248;
    font-size: 22px;
  }

  #game-instruction {
    margin-bottom: 10px;
    margin-top: 0px;
  }

  #instruction-1, #instruction-2, #instruction-3 {
    font-size: 20px;
  }

  #instruction-1 {
    width: 20%;
  }

  #instruction-2, #instruction-3 {
    width: 32%;
  }

  #instruction-1 > img, #instruction-2 > img, #instruction-3 > img {
    width: 70%;
  }

  #start-button {
    height: 45px;
    width: 60%;
    border-radius: 4px;
    font-size: 16px;
  } 

  /* Top keyboard instruction */
  #type-instruction {
    display: none;
  }

  /* Modal */
  .modal-content {
    border-radius: 10px;
    font-size: 14px;
    width: 94vw;
    /* height: 90vh; */
    top: 5vh;
    left: 3vw;
    padding: 20px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  }

  .modal-message {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .suhi-chef.container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ranking {
    font-size: 22px;
  }

  #play-again-button {
    width: 60%;
    height: 45px;
    font-size: 16px;
  }

  /* Top links, title */
  header {
    margin: 15px 0;
  }

  .game-title {
    font-size: 64px;
  }

  /* Game */
  #game-canvas {
    height: 100vh;
    width: calc(100vh * 4 /3);
    border-radius: 8px;
    border: 10px solid #4BAEA0;
  }
  
  #top-bar {
    width: 100%;
    height: 12%;
  }

  #easy-timer-container, #competitive-timer-container {
    width: 20%;
    font-size: 24px;
  }

  #competitive-score, #easy-score {
    width: 30%;
    font-size: 32px;
  }

  #competitive-customer-lost, #easy-customer-lost {
    height: 100%;
    width: 20%;
  }

  #competitive-customer-lost > img, #easy-customer-lost > img {
    width: 30%;
    height: auto;
  }

  /* Menu and Counter */
  #counter {
    width: 100%;
    height: 40%;
    justify-content: space-between;
    padding: 0;  
  }

 #easy-menu {
    width: 50%;
    height: 80%;
  }

  .menu-item {
    width: 22%;
    height: auto;
    /* height: 50px; */
    border-radius: 4px;
  }

  #bento-container {
    height: 80%;
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center
  }

  #competitive-remove-item-button, #easy-remove-item-button {
    padding: 0 10px;
    height: 45px;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 15px;
  }

  /* Order */
  #main-interaction-container {
    height: 48%;
  }

  #main-interaction {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  #speech-container {
    width: auto;
    height: 80%;
  }

  #customer-container {
    width: auto;
    height: 90%;
  }

  .bento-item {
    width: 40px;
    height: 40px;
  }

  .bento-4 {
    width: 100px;
    height: 100px;
    padding: 5%;
  }

  .bento-6 {
    width: 150px;
    height: 100px;
    padding: 5%;
  }

  .speech-bubble {
    border: 3px solid #4E5660;
    border-radius: 10px;
    width: 175px;
    height: 125px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .speech-bubble::before {
    top: 75px;
    border: 15px solid transparent;
    border-left-color: #4E5660;
    margin-top: -20px;
    margin-right: -30px;
  }

  .speech-bubble:after {
    top: 80px;
    border: 10px solid transparent;
    border-left-color: #FFFBED;
    margin-top: -20px;
    margin-right: -20px;
  }

  .order-container {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 5px;
  }

  .order-container.box-6 {
    width: 150px;
    height: 100px;
  }

  .order-container.box-4 {
    width: 100px;
    height: 100px;
  }

  .order-item {
    width: 40px;
    height: 40px;
  }
}

/* Form */
.form-container {
  width: 100%;
  margin: 10px 0;
}

#save-score-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form.input {
  width: 440px;
  height: 54.5px;
  border: 2px solid lightgray;
  border-radius: 4px;
  font-size: 16px;
  color: #4BAEA0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form.input::placeholder {
  color: lightgray;
}

.form.input:focus {
  border: 2px solid #F58248;
}

#submit-score {
  width: 440px;
  height: 54px;
  background: #F58248;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
