$white: #FFFFFF;
$off_white: #FAFAFA;
$super_lightgray: #E8E8E8;
$lightgray: #B5B5B5;
$mediumgray: #3C3C3C;
$darkgray: #1E1E1E;

$main_orange: #F58248;
$hover_orange: #D16730;

$main_brown: #80523F;

$main_teal: #4BAEA0;
$hover_teal: #3A8E82;

$main_red: #B65555;
$hover_red: #A73C3C;
